<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>

<link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div>
		<!-- header -->
		<h1>Login stranica</h1>
		<a href="../index.html">Index</a>

		<form action="LoginController" method="post">
			<label for="user_name">User name</label> <input id="user_name"
				type="text" name="userName"><br>
			<br> <label for="pass">Password</label> <input id="pass"
				type="password" name="password"><br>
			<br> <input type="submit" value="Login">
		</form>


	</div>

</body>
</html>